<%= form_with(model: listing) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-4">
    <%= form.label :name, class:"col-sm-2" %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group mb-4">
    <%= form.label :category_id, class:"col-sm-2" %>
    <%= form.select :category_id, categories.map {|cat| [cat.name, cat.id]}, class: "form-control" %>
  </div>
   
  <h6 class="col-sm-2" > Material </h6>
  <div class="form-check mb-4">
    <%= form.collection_check_boxes :material_ids, materials, :id, :name do |b| %>
      
      <%=b.label(class: "form-check-label mr-2")%>
      <%=b.check_box %>
      <%end%>
  </div>
  
  <div class="form-group mb-4">
    <%= form.label :price, class:"col-sm-2" %>
    <%= form.number_field :price, min:0 %>
  </div>

  <div class="form-group mb-4">
    <%= form.label :description, class:"col-sm-2" %>
    <%= form.text_area :description%>
  </div>

  <div class="form-group mb-4">
      <%=form.label :picture, class:"col-sm-2"%>
      <%=form.file_field :picture, accept: "image/jpg, image/jpeg, image/png", class: "form-control-file ml-2 mb-2"%>
      <small class="form-text text-muted">JPG, JPEG, PNG only </small>
  </div>

  <div class="actions ml-2 mb-4">
    <%= form.submit %>
  </div>
<% end %>
