<!DOCTYPE html>
<html>
  <head>
    <title>DecoroApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ballet&family=Dancing+Script:wght@600&family=Rancho&family=Arima+Madurai:wght@500&family=Akaya+Kanadaka&display=swap" rel="stylesheet">
  </head>

  <body>
  <% flash.each do |type, msg| %>
    <div class="alert alert-<%=select_alert(type)%> alert-dismissible fade show" role="alert">
      <%= msg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
  <%= render 'shared/navbar'%>
    <%= yield %>
  </body>
</html>
